@font-face {
    font-family: sail;
    src: url(../fonts/Sail-Regular.ttf);
}

@font-face {
    font-family: bellotaText-regular;
    src: url(../fonts/BellotaText-Regular.ttf);
}

@font-face {
    font-family: bellotaText-bold;
    src: url(../fonts/BellotaText-Bold.ttf);
}

$header-image: url(../img/7E2987B6-A8C7-4977-9EB2-07366C463764_1_105_c.jpeg);
$footer-image: url(../img/myd.jpg);

$primary-font: sail;
$text-font: bellotaText-regular;
$text-font-bold: bellotaText-bold;

$primary-color: #3F5A80;
$secondary-color: #E4EAF2;
$light-color: #fff;

#app{
    display: grid;
}

.bold{
    font-family: $text-font-bold;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(
        180deg
        , #3F5A80 19%, #ffffff26);
    width: 100vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

h1 {
    font-family: $primary-font;
    text-align: center;
    font-size: 2.5rem;
    color: $light-color;
    background-color: $primary-color;
    margin: 0;
    padding: 1rem 0;
    font-weight: 300;
}

h2 {
    font-family: $primary-font;
    color: $primary-color;
    text-align: center;
    margin: 0;
    font-size: 3rem;
    padding-top: 1.5rem;
    background-color: $secondary-color;
}

.right {
    flex-direction: row-reverse;
}

.left {
    flex-direction: row;
}

.progress-bar {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2.5rem;
    position: relative;

    &_point-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-color;
        text-align: center;
        z-index: 10;

        & > p {
            margin-bottom: .5rem;
            font-family: $text-font;
            font-size: 1.5rem;
        }

        & > span {
            font-size: 1.55rem;
        }
    }

    &_line {
        background-color: $light-color;
        position: absolute;
        width: 100%;
    }

    &_point {
        background-color: $light-color;
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
    }
}

.countdown {
    display: inline-flex;
    justify-content: center;
    color: $light-color;
    font-size: 4rem;
    padding: 3rem 0;
    gap: 1.5rem;
    width: 100%;
    font-family: $text-font-bold;

    &_time-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > span {
            font-size: 1.5rem;
            font-family: $text-font;
        }
    }
}

.headerImg {
    padding-top: 60rem;
    background-image: $header-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: relative;
    top: -7rem;
    background-blend-mode: hard-light;
    background-color: white;
}

.history {
    display: flex;
    flex-wrap: wrap;
    margin-top: -6rem;
    padding: 0 3rem;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;

    &_text {
        width: 40%;

        & > p {
            font-family: $text-font;
            font-size: 1.95rem;
        }
    }
}

.polaroid {
    background: #ffffff;
    padding: 15px 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 45%;
    transform: rotate(3deg);
    
    & > img {
      display: block;
      width: 100%;
    }
    
    & > figcaption {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }
}

.gform {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    & > iframe {
        height: 1400px;
        width: 100%;
        frameBorder: 0;
        marginHeight: 0;
        marginWidth: 0;
        border: none;
        overflow-y: visible;

    }
}

.ceremony {
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: $secondary-color;
    justify-content: space-between;
    align-items: center;
    font-family: $text-font;

    &_text {
        display: flex;
        flex-direction: column;
        width: 40%;
        font-size: 1.7rem;

    }

    &_button {
        padding: .5rem;
        width: 100%;
        font-family: $text-font-bold;
        font-size: 1.15rem;
        border: none;
        color: $light-color;
        background-color: $primary-color;
        cursor: pointer;
        border-radius: .25rem;
    }

    & > img {
        width: 55%;
        border-radius: .25rem;
    }
}

.present {
    display: flex;
    flex-wrap: wrap;
    background-color: $secondary-color;
    font-family: $text-font;
    font-size: 1.5rem;
    align-items: center;
    padding: 1.5rem 2rem;
    justify-content: space-evenly;

    & > .polaroid {
        width: 35%;
    }

    & > article {
      width: 40%;
    }

    & > p {
        width: 40%;
    }
}

@media only screen and (max-width: 1024px) {
    .history_text > p {
        font-size: 1.5rem;
    }

    .ceremony_text {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 800px) {

    .headerImg {
        padding-top: 80%;
    }

    .history {
        padding: 0 2rem;

        &_text {
            width: 100%;
        }
    }

    .ceremony {
       flex-wrap: wrap;

        &_text, & > img {
            width: 100%;
        }
    }

    .present > article {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    header {
        height: 80%;
    }

    .progress-bar {
        margin: 1rem 0;

        &_point-group > p {
            font-size: 1rem;
        }

        &_point-group > span {
            font-size: 1rem;
        }
    }

    .history {
        padding: 0 2rem;
    
        &_text {
            width: 100%;
    
            & > p {
                font-size: 1.3rem;
            }
        }
    }

    .polaroid {  
        & > figcaption {
            font-size: 1.2rem;
            padding: 1rem 0 0;
        }
    }

    .gform iframe {
        height: 1580px;
    }

    .present {
        & > p, & .polaroid {
            width: 100%;
        } 
    }
}

@media only screen and (max-width: 320px) {
    .countdown {
        gap: 0;
    }
}

