@font-face {
    font-family: sail;
    src: url(../fonts/Sail-Regular.ttf);
}

@font-face {
    font-family: bellotaText-regular;
    src: url(../fonts/BellotaText-Regular.ttf);
}

@font-face {
    font-family: bellotaText-bold;
    src: url(../fonts/BellotaText-Bold.ttf);
}

$primary-font: sail;
$text-font: bellotaText-regular;
$text-font-bold: bellotaText-bold;

$primary-color: #3F5A80;
$light-color: #fff;

.bold{
    font-family: $text-font-bold;
}

body {
    margin: 0;
}

header {
    background-image: linear-gradient(
        180deg,
        $primary-color, $primary-color, #3f5a80d9, #3f5a8000
    );
    height: 58vh;
}

h1 {
    font-family: $primary-font;
    text-align: center;
    font-size: 2.5rem;
    color: $light-color;
    background-color: $primary-color;
    margin: 0;
    padding: 1rem 0;
    font-weight: 300;
}

figure{
    margin: 0;
    position: absolute;
    top: 7rem;
    z-index: -1;
    width: 100vw;
}

.header_img {
    filter: brightness(150%) opacity(0.95);;
    width: 100%;
    z-index: -1;
}

.progress-bar {
    background-color: $primary-color;
    display: flex;
    justify-content: space-around;
    margin: 1rem 2.5rem;
    position: relative;

    &_point-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-color;
        text-align: center;
        z-index: 10;

        & > p {
            margin-bottom: .5rem;
            font-family: $text-font;
            font-size: 1.5rem;
        }

        & > span {
            font-size: 1.55rem;
        }
    }

    &_line {
        background-color: $light-color;
        position: absolute;
        width: 100%;
    }
    
    &_point {
        background-color: $light-color;
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
    }
}