@font-face {
    font-family: sail;
    src: url(../fonts/Sail-Regular.ttf);
}

@font-face {
    font-family: bellotaText-regular;
    src: url(../fonts/BellotaText-Regular.ttf);
}

@font-face {
    font-family: bellotaText-bold;
    src: url(../fonts/BellotaText-Bold.ttf);
}

$header-image: url(../img/7E2987B6-A8C7-4977-9EB2-07366C463764_1_105_c.jpeg);

$primary-font: sail;
$text-font: bellotaText-regular;
$text-font-bold: bellotaText-bold;

$primary-color: #3F5A80;
$light-color: #fff;

#app{
    display: grid;
}

.bold{
    font-family: $text-font-bold;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(
        180deg
        , #3F5A80 19%, #ffffff26);
    width: 100vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

h1 {
    font-family: $primary-font;
    text-align: center;
    font-size: 2.5rem;
    color: $light-color;
    background-color: $primary-color;
    margin: 0;
    padding: 1rem 0;
    font-weight: 300;
}

.header_figure{
    margin: 0;
    position: absolute;
    top: 0rem;
    z-index: -1;
    width: 100vw;
    object-fit: cover;
    object-position: 50% 0;
    min-width: 1000px;
}

.header_img {
    filter: brightness(150%) opacity(0.95);;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: 50% 0;
    min-width: 1000px;
}

.progress-bar {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2.5rem;
    position: relative;

    &_point-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-color;
        text-align: center;
        z-index: 10;

        & > p {
            margin-bottom: .5rem;
            font-family: $text-font;
            font-size: 1.5rem;
        }

        & > span {
            font-size: 1.55rem;
        }
    }

    &_line {
        background-color: $light-color;
        position: absolute;
        width: 100%;
    }
    
    &_point {
        background-color: $light-color;
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
    }
}

.countdown {
    display: inline-flex;
    justify-content: center;
    color: $light-color;
    font-size: 4rem;
    padding: 3rem 0;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    font-family: $text-font-bold;

    &_time-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > span {
            font-size: 1.5rem;
            font-family: $text-font;
        }
    }
}

.prueba {
    padding-top: 60rem;
    background-image: $header-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: relative;
    top: -7rem;
    background-blend-mode: hard-light;
    background-color: white;
}

@media only screen and (max-width: 800px) {
    .prueba {
        padding-top: 50%;

    }
}

@media only screen and (max-width: 500px){
    .progress-bar {
        margin: 1rem 0;

        &_point-group > p {
            font-size: 1rem;
        }

        &_point-group > span {
            font-size: 1rem;
        }
    }
}
